[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
psycopg2-binary = "*"
pandas = "==1.1.5"
keras = "*"
sklearn = "*"
tqdm = "*"
sqlalchemy = "*"
cython = "*"
scikit-learn = "==0.22.1"
gunicorn = "*"
numpy = "==1.19.3"
pip = "20.3.3"

[dev-packages]

[requires]
python_version = "3.7.9"
